
<div class="loginPage">
  <div class="loginBox">
    <div class="loginLogo"><img src="/logo2.png"/></div>
    <h1>Welcome back!</h1>

    <form  action="<%= session_url %>" method="post">
      <%= auth_token_input %>
      <%= flash[:errors].join("<br>").html_safe if flash[:errors] %><br/><br/>
      <label class="email">Email
      </label>
        <input type="text" name="user[email]" >
      <label class="password">
        Password
      </label>
      <input type="password" name="user[password]" >
      <br/>

      <input type="submit"  id="loginButton" value="Login">
    </form>

    <!-- <form action="<%= session_url %>" method="post">
      <%= auth_token_input %>
      <input type="hidden" name="user[email]" value="a@a.com">
      <input type="hidden" name="user[password]" value="password">
      <input type="submit" value="Guest Login" id="guestButton"/>
    </form> -->
  </div>
</div>
