<!DOCTYPE html>
<html>
<head>
  <title>Ballr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>

    <script type="text/javascript">
      window.current_user = <%= current_user.id %>;
      window.current_username = "<%= current_user.username %>" ;
    </script>
  <% end %>
  <script src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js' />
  <script src="http://widget.cloudinary.com/global/all.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
