<!DOCTYPE html>
<html>
<head>
  <title>Ballr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.current_user = <%= current_user.id %>;
      window.current_username = "<%= current_user.username %>" ;
    </script>
  <% end %>
  <script src="http://widget.cloudinary.com/global/all.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="vendor/bootstrap-theme.min.css"> -->
</head>
<body>

<%= yield %>
  <!-- <script src="vendor/jquery-1.11.3.min.js"></script> -->
  <!-- <script src="vendor/bootstrap.min.js"></script> -->

</body>
</html>
