<!DOCTYPE html>
<html>
<head>
  <title>Ballr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.current_user = <%= current_user.id %>;
      window.current_username = "<%= current_user.username %>" ;
    </script>
  <% end %>
  <script src="http://widget.cloudinary.com/global/all.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>


<!-- <% if signed_in? %>
  <br/>
  <%= button_to "Sign Out", session_url, method: :delete %>
  Must use this for now.
<% else %>
  <%= link_to "Sign In", new_session_url  %>
  <%= link_to "Sign Up", new_user_url %>
  Must use these for now.
<% end %> -->
<%= yield %>

</body>
</html>
